@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Heading</h1>
    <hr />
    <form asp-page="/Index" method="get" class="d-inline-block">
        <input type="hidden" name="categoryId" value="@Model.CategoryId" />
        <input type="hidden" name="userId" value="@Model.UserId" />
        <input type="hidden" name="ascSort" value="true" />
        <button type="submit" class="btn btn-dark">Sort by Price ascending ↑</button>
    </form>
    <form asp-page="/Index" method="get" class="d-inline-block">
        <input type="hidden" name="categoryId" value="@Model.CategoryId" />
        <input type="hidden" name="userId" value="@Model.UserId" />
        <input type="hidden" name="descSort" value="true" />
        <button type="submit" class="btn btn-dark">Sort by Price descending ↓</button>
    </form>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stock Amount</th>
            <th>Category</th>
            <th>Seller</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <a asp-page="/Products/ProductPage" asp-route-productId="@product.Id">@product.Name</a>
                </td>
                <td>
                    @product.Price $
                </td>
                <td>
                    @product.Amount
                </td>

                @if (@product.Category == null)
                {
                    <td>None</td>
                }
                else
                {
                    <td>@product.Category.Name</td>
                }
                <td>
                    @product.RegisteredUser?.UserName
                </td>
            </tr>
        }
    </tbody>
</table>
